button{
    position: relative;
    display: block;
    align-items: center;
    border-radius: 10px;  
    height: 5em;
    margin: 0 auto;
    padding: 2em;
    background-color: black;
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  
  .divSquare{
      background-color: black;
      float: left;
      width: 175px;
      height: 175px;
      margin: 10px;
      color: white;
      text-align: center;
      font-size: 4em;
      border-radius: 4px;
  }
  
  
  body{
    background-color: darkgrey;
  }