button{
    position: relative;
    display: block;
    align-items: center;
  }

  .divSquare{
      background-color: black;
      float: left;
      width: 175px;
      height: 175px;
      margin: 10px;
      color: white;
      text-align: center;
      font-size: 4em;
      border-radius: 4px;
      line-height: 170px; 
    vertical-align: middle;
  }


  body{
    background-color: darkgrey;
  }
